@font-face {
	font-family: 'glyphicons-halflings-regular';
	src: url ('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
	src: url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
	url('../fonts/glyphicons-halflings-regular.eot'), 
	url('../fonts/glyphicons-halflings-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	
	
}

.active-text {
	background: linear-gradient(0deg, #0072c6, #59b9ff) !important;
	font-weight: bold;
}

/* @font-face {
	font-family: 'segoe-ui-light';
	src: url ('../fonts/segoe-ui-regular/Segoe UI Light.ttf') format('truetype');
	src: local('☺'), url('../fonts/segoe-ui-light/Segoe UI Light.woff') format('woff'), 
	url('../fonts/segoe-ui-regular/Segoe UI Light.eot'), 
	url('../fonts/segoe-ui-regular/Segoe UI Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

body {
	background: -webkit-linear-gradient(90deg, #d1d1d1, #fafafa, #fff, #fafafa , #d1d1d1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #d1d1d1, #fafafa, #fff, #fafafa, #d1d1d1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #d1d1d1, #fafafa, #fff, #fafafa, #d1d1d1); /* For Firefox 3.6 to 15 */
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d1d1d1', EndColorStr='#fafafa')"; /* IE8 */
    background: linear-gradient(90deg, #d1d1d1, #fafafa, #fff, #fafafa, #d1d1d1); /* Standard syntax (must be last) */
	font-family: segoe-ui-regular,sans-serif,"Helvetica Neue",Helvetica,Arial;
	font-size: 12px;
	box-size:border-box;
	width:100%;
	height:100%;

}
/*Base tag definitions Start*/
h4 {
	color: #ffffff;	
	padding-left: 5px;
	margin-top:12px;	
}
h3 {
	color: #15264b;
	text-align: center;	
}
/*Base tag definitions End*/
/* Page Wrapper and container Start */
#wrapper {
	width: 1005px;
	padding: 0;
	margin: 0 auto;
	vertical-align: middle;
    top: 0;
    bottom: 0;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* Page Wrapper End */
/* Common Style definitions start*/
/* @media (min-width: 768px) {
	.create_partner_field.col-sm-2 {
			width: 14.666667%;
	}   			
} */
.create_partner_field {
	width: 14.666667%;
}   			

.no-padding {
	padding:0px
}
.no-paddingL {
	padding-left:0px
}
.no-paddingR {
	padding-right:0px
}

.partner-custom-field-label{
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.col-sm-4 {
	width: 25%;
}

.groupBy {
	width: 150px;
}
.desc {
  font-weight: normal;	

}


.card-class
{
	width: 10% !important;
}
.description-class
{
	width: 35% !important;
}


.col-sm-13 {
		width: 32%;
}
.form-control {
	padding: 0 5px;
	padding-right: 0px;
	height: 24px;
	font-size: 10px;
	border-radius: 0;
}
.icon-white {
	color:#ffffff;
}
.icon-black {
	color:#000000;
}
.required-field {
	color:red;
}
.discriptionErrorMsg {
	height: 20px;
	line-height:10px;
	font-size: 11px;
}
.red-error {
	color:red;
	font-size:10px;
}
.green-error {
	color: green;
}
.reg-radio-btn {
	width: 14px;	
}
.input-group-addon {
	padding: 3px 12px 2px 12px;
	border-radius: 0;
}
.border-bottom {
	border-bottom: 1px solid #ddd;
}
/* Common Style definitions End*/
/* Header Style definaition Start*/
.all-page-header {
	background-color: #ffffff;
	padding: 11px 5px 5px;
	border: 1px solid #ccc;
	/*box-shadow: 0px 0px 6px #909090;*/
}

.all-page-header .user-settings {
  display: block;
  margin: 6px 0 0;
}

.all-page-header .user-settings table tr td {
  padding: 0 0 0 10px;
  vertical-align: middle;
}

.all-page-header .user-settings table tr td p {
  display: block;
  margin-right: 5px;
  padding-top: 10px;
}

.nav-bar {
	background: -webkit-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #b5b5b5, #b5b5b5); /* For Firefox 3.6 to 15 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8f8f8', EndColorStr='#b5b5b5')"; /* IE8 */
    background: linear-gradient(0deg, #b5b5b5, #f8f8f8); /* Standard syntax (must be last) */
	/*background-color: #15264b;
	margin: 10px auto;*/
	margin: 0 auto;
	padding: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	min-height: 20px;
	border: none;
}
.nbar-progress {
	background-color: #ffffff;
	border: 1px solid #15264b;
}
.right-image-icons {
	padding-top:10px;
	padding-bottom:10px;
}

.right-image-icons table tr td {
	width:30px;
}

.panel-title > a {
	color: #15264b;
}
/* Header Style definition End*/
/* Main content Definition Start*/
.content-wrapper {
	display: block;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	min-height: 100px;
	border: 1px solid #cccccc;

}
/* Main content Definition End*/
/* Footer content Style Definition Start*/
.footer {
	float: left;
	margin-top: 14px;
	width: 100%;
}

.login-footer {
	width: 50%;
}
.footer .footer-txt {
	/* padding: 9px 10px 0 10px; */
	text-align: left;
	font-size: 12px;
	color: #333;
}	
/* Footer content Style Definition End*/
/* Registration Panel Definition Start */
.panel-default {
	border-radius: 0px !important;
}
.field-header {
	background-color: #D6D6D6;
	height: 30px;
	padding-left: 10px;
	padding-top: 4px;
	margin-bottom: 10px;
	font-size: 15px;	
}
.content-divider-border {
	border-right:1px solid #BFBFBF;	
	margin-bottom:10px;
}
.panel-body label {
	font-weight:normal;
}
.button {
	background-color:#E6E6E6;
	/* background-color: #15264b; */
	color: #373737;
	/*border-radius: 7px;*/
	border: none;	
	cursor: pointer;
	text-align:center;
	text-decoration:none;		
	width: 28%; 
	margin: 10px 0 10px 10px;
	
	
	background: -webkit-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #b5b5b5, #f8f8f8); /* Standard syntax (must be last) */
	font-family: segoe-ui-regular, sans-serif,"Helvetica Neue",Helvetica,Arial;
	font-family: segoe-ui-regular, sans-serif,"Helvetica Neue",Helvetica,Arial;
}

.button1 {
	background-color: #919191;
	color: #FFF;
	/* border-radius: 7px; */
	border: none;	
	cursor: pointer;
	text-align:center;
	text-decoration:none;
	margin-top:10px;
	margin-bottom:10px;		
	width: 40%;
	margin-left: 10px;
}

.button30 {
	width: 30%;
	margin-top: 20px;
}

.buttonP40 {
	width: 40%;
}

.buttonP45 {
	width: 45%;
}

.buttonP70 {
	width: 70%;
}

.buttonP90 {
	width: 90%;
}

a.button {
	padding-top: 5px;
}

.button:hover {
	text-decoration:none;
	background: -webkit-linear-gradient(0deg, #0072c6, #59b9ff) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #0072c6, #59b9ff) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #0072c6, #59b9ff) !important; /* For Firefox 3.6 to 15 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#59b9ff', EndColorStr='#0072c6')"; /* IE8 */
    background: linear-gradient(0deg,#0072c6, #59b9ff) !important; /* Standard syntax (must be last) */
	color: #fff;	
}
.panel-body	{
	padding-bottom:0px;
}
.button-col {
	/* border-top:1px solid #BFBFBF;  */
}
.for-check-box {
	float:right;
}
input[type=checkbox] {
	margin-left: 10px;
	margin-top: 5px;
	margin-right: 5px;
}
.last-button-margin {
	margin-left: 65px;
}
.btn-rtmargin-adjust {
	margin-right: -45px;
}
.btn-ltmargin-adjust {
	margin-right: -65px;
}
.custom-panel-margin {
	margin-top:20px;
}
.zero-padding {
	padding: 0;
}
/* Registration Panel Definition End */
/*Landing page Style Definition Start */
table tr td a{
	color: #373737;	
	font-size:12px;
	font-weight:bold;
}
table tr td a:hover{
	text-decoration:none;
}
/*Landing page Style Definition End */
/*Navigation Bar Style Definition Start*/
.nav-bar {
	border-bottom: 2px solid #0072c6;
}
.nav-bar ul {
	text-align: left;
	display: inline;
	margin: 0;
	padding: 15px 4px 17px 0;
	list-style: none;
}
.nav-bar ul li {
	height:22px;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 5px 13px;
	background: transparent;
	color: #373737;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	border-left: 1px solid #cccccc;
	height: 27px;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=ie8-logo.png,sizingMethod='crop') ;
      
}
/*.nav-bar ul li:last-child {`
	border-right: 1px solid #cccccc;
}*/
.nav-bar ul li a {
	display: inline-block;	
	font-family: segoe-ui-regular, sans-serif,"Helvetica Neue",Helvetica,Arial;
	color: #373737;
	position: relative;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
.nav-bar ul li:hover {
	border-bottom:2px solid #008df4;
	/*color: #0072c6;
	background: #0072c6;*/
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-ms-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
	
}
.nav-bar ul li a:hover {
	text-decoration: none;
	/*color: #0072c6;*/
	background-color: transparent;
}
.nav-bar ul li ul {
	padding: 1px;
	position: absolute;
	top: 33px;
	left: -1px;
	width: auto;
	min-width: 90px;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
	
	background: -webkit-linear-gradient(0deg, #f0f0f0, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #f0f0f0, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #f0f0f0, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #f0f0f0, #fff); /* Standard syntax (must be last) */
	font-family: segoe-ui-regular, sans-serif,"Helvetica Neue",Helvetica,Arial;
	box-shadow: 1px 1px 7px 1px #888;
}

.nav-bar ul li ul:after, .nav-bar ul li ul:before {
    bottom: 100%;
    left: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.nav-bar ul li ul:after {
    border-color: rgba(0, 114, 198, 0);
    border-bottom-color: #fff;
    border-width: 0 5px 7px;
    margin-left: -5px;
}

.nav-bar ul li ul:before {
    border-color: rgba(0, 114, 198, 0);
    border-bottom-color: #a5a5a5;
    border-width: 0 6px 8px;
    margin-left: -6px;
}

.transperent-background {
	background: transparent !important;
	height: 10px;
	position: absolute !important;
    top: -10px;
    width: 100%;
}

.nav-bar ul li ul li.transperent-background:hover, .nav-bar ul li ul li.transperent-background a:hover {
	border: none;
	background: none !important;
	height: 27px;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=ie8-logo.png,sizingMethod='crop') !important;
}

#navListId10 ul{
	min-width: 85px;
}
.nav-bar ul li ul li {
	display: block;
	color: #373737;
	border: none;
	margin-right: 0;
	height: 22px;
	padding: 1px 8px;

}
.nav-bar ul li ul li a {	
	padding: 0px;
	color: #373737;
}
.nav-bar ul li ul li:hover  {
	background: -webkit-linear-gradient(0deg, #0072c6, #59b9ff) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #0072c6, #59b9ff) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #0072c6, #59b9ff) !important; /* For Firefox 3.6 to 15 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#59b9ff', EndColorStr='#0072c6')" !important; /* IE8 */
    background: linear-gradient(0deg, #0072c6, #59b9ff) !important; /* Standard syntax (must be last) */
	color: #fff !important;
	border: 0;
}

.nav-bar ul li ul li:hover a {
	color: #fff !important;
}

.nav-bar ul li ul li:hover .dropdown a{
	color: #d6d6d6 !important;
}
.nav-bar ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}
.active-background {
	
	background: -webkit-linear-gradient(0deg, #0072c6, #59b9ff) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #0072c6, #59b9ff) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #0072c6, #59b9ff) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #0072c6, #59b9ff) !important; /* Standard syntax (must be last) */
    background:#2892E0 !important ;
	/*border-left: 1px solid #DFDFDF !important; 
	background-color: #4969AF !important;*/
}
.active-background a {
	color: #fff !important;
}
.active-background ul li a {
    color: #373737 !important;
}
.last-navigation-item {
	border-right:1px solid #ccc !important;
	padding: 5px 16px 5px 15px !important;
}
/*Navigation Bar Style Definition End*/
/*Bread Crumb Style Definition Start*/
.breadCrumb {
	background-color: #f0f0f0;
	display: block;
	padding: 5px 10px;
	margin: 16px 0;
}
.breadcrumb-text {
	font-size:12px;
	color: #0072c6;
	/*color: #15264b;*/
}
.icon-font-size{
	font-size:12px;	
}
/*Bread Crumb Style Definition End*/
/*Tab header Style Definition Start*/
.tab-header-container-first {
	background: -webkit-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #b5b5b5, #f8f8f8); /* Standard syntax (must be last) */
	font-family: segoe-ui-regular, sans-serif,"Helvetica Neue",Helvetica,Arial;
	display: inline-block;
	padding: 5px 25px;
	margin-left: 40px;
}
.tab-header-container {
	background: -webkit-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #b5b5b5, #f8f8f8); /* Standard syntax (must be last) */
	font-family: segoe-ui-regular, sans-serif,"Helvetica Neue",Helvetica,Arial;
	display: inline-block;
	padding: 5px 25px;
	margin-left: 0px;
}
.tab-header-container-first a, .tab-header-container a{
	color:#373737;
}
/*Tab header Style Definition End*/
/*Content Holder Style Definition Start*/
.main-content-holder {
	border: 1px solid #BFBFBF;
	display: block;
	-moz-border-radius: 8px;
	margin: 0 15px;
	padding: 10px 20px;
	margin-bottom: 20px;
}
.field-element-row {
  overflow: hidden;
	display: block;
	margin-top: 5px;
}
.field-element-row label {
	font-weight:normal;
	font-size: 11px;
}
.form-action-buttons{
	margin-left:30px;
}
.pop-action-buttons{
	margin-left:15px;
}
/*Content Holder Style Definition End*/
/*Search Result table Style Definition Start*/
.search-results-table {
  display: block;
  padding: 0 20px;
  margin: 0;
}
.search-results-table table tr td,
.search-results-table table tr th {
  text-align: center;
}
.search-results-table table tr td {
  word-break: break-all;
}
.activity-log{
  word-break: break-all;
}
.widthP15 {
	width: 15%;
}

.widthP12 {
	width: 12%;
}
.search-results-table table tr th {
  color: #333;
  background-color: #ADADAD;    
}
.search-table-header-column {
	background-color: #D6D6D6 !important;
	/*border:1px solid #BFBFBF;*/
	border: none !important
}
.search-table-header-column .col-sm-8 {
	width: 75%;
}
.search-table-header-column  span{
	float:left;
	padding-left:10px;
	
}
.search-table-icon-text {
	font-size:18px;
}
.table-program tr th, .manage-card-table tr th {
  color: #FFFFFF;
  background-color: #adadad !important;    
}
.manage-card-table {
	padding: 0 15px;
}
.manage-account-table {
	padding: 0 0;
}
.btn {
    font-size: 10px;
    padding: 5px 10px 4px;
}
/*Search Result table Style Definition End*/
/* Table Action button Style Definition Start */ 
.table-action-button {
	margin-top: -10px;
}
/* Table Action button Style Definition End */ 
/* Table Footer style Definition Start*/
.table-footer-main {
	border-top: 2px solid #B1B1B1;
}
.custom-table-footer-button {
	margin-left:-20px !important;
}
.custom-table-footer-pagination {
	margin-bottom:0px !important;
	margin-top:0px !important;
	float:right;
	margin-right: -25px;
}
.custom-table-footer-button img {
	width:20px;
}
.pagination > li > a, .pagination > li > span {
	color: #373737;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn {
	border-radius: 0;
}
/* Table Footer style Definition End*/
/* Custom Input type file style Definition Start */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white;
  cursor: text !important;
}
.btn-primary{
	background: -webkit-linear-gradient(rgb(231, 231, 231), rgb(196, 196, 196)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(231, 231, 231), rgb(196, 196, 196)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(231, 231, 231), rgb(196, 196, 196)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgb(231, 231, 231), rgb(196, 196, 196)); /* Standard syntax */		
	color:inherit;
	border: 1px solid #ccc;	
}
.btn-primary:hover{
	background: -webkit-linear-gradient(rgb(196, 196, 196), rgb(231, 231, 231)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(196, 196, 196), rgb(231, 231, 231)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(196, 196, 196), rgb(231, 231, 231)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgb(196, 196, 196), rgb(231, 231, 231)); /* Standard syntax */			
	color:inherit;
	border: 1px solid #ccc;	
}
/* Custom Input type file style Definition End */
/* Custom DatePicker Style Definition Start*/
.xdsoft_datetimepicker {
	border-radius: 5px;
	border: 1px solid #ccc;
}
.xdsoft_calendar {
	border: 1px solid #D8D8D8;
	border-radius: 5px;
}
/* Custom DatePicker Style Definition End*/
/* Login Page Style Definition Start*/
.login-page-main {
	text-align: center;
	padding-top:20px;	
}
.login-page-content {
	text-align: center;	
}
.login-page-content h4{
	color: #15264b;
}
.login-elements-holder {
	padding-top:0px;
	padding-bottom:0px;
}
.login-main-button {
	margin-top: 0px;
	width:100%;
	margin-left:0px;	
}
.login-anchor-tag {
	float: left;
	padding-top: 5px;
	margin-left: 45px;
}
/* Login Page Style Definition End*/
/* Dash board Style Definition Start */
.dashboard-image-description {
	text-align:center;
	margin-top:-30px;
	margin-bottom:10px;
}
/* Dash board Style Definition End */
/* Custom Check Box Style Definition start*/
.checkboxCustom {
	height: 25.5px;
	margin-bottom: 5px;
	background: transparent url(../images/checkbox.png) no-repeat 0 0;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: -ms-fit-content;
	width: -o-fit-content;
}
.checkedCustom {
	margin-bottom: 5px;
	background: transparent url(../images/checkbox.png) no-repeat 0 98%;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: -ms-fit-content;
	width: -o-fit-content;
}
.checkCustomLabel {
	margin-left: 35px;
	margin-top: 2px;
}
.checkbox-header-label {
	color: #4969AF;
	font-weight: bold !important;
	font-size: 15px;
}
.last-label-checkbox label{
	max-width:none !important;
}
/* Custom Check Box Style Definition End*/
/* Custom Radio Button Style Definition Start */
.divinderfloatvaluemain {
	width: 100%;
}
.divinderfloatvaluemain1 {
	width: 25%;
	float:left;
}
.divinderfloatvaluemain2 {
	width: 50%;
	float:left;
}
.radioboxCustom {
   height: 25.5px;   
   margin-bottom: 5px;
   background: transparent url(../images/radiobox.png) no-repeat 0 0
   
}
.radioedCustom {
   margin-bottom: 5px;
   background: transparent url(../images/radiobox.png) no-repeat 0 105%
}
.radioCustomLabel {
	margin-left:30px; 
	padding-top:2px;
}
/* Custom Radio Button Style Definition End */
/* Multi select Slide Container Style Definition Start */ 
.textareaheightParmne {
	height:125px !important;
}
.movebuttonsfieldset {
	margin-left: -10px !important;
	margin-top: 22px !important;
}
.movebuttoninput {
	width:35px !important; 
	margin-top:5px
}
.movebuttonsfieldsettextarea {
	margin-left: -232px !important;
}
.multiselect-main-container {
	margin-left:-15px;
}
.multi-select-box {
	width: 45.8%;
	padding: 0;
}
.multi-select-box-regional {
	width: 20%;
	padding: 0;
}
.multi-select-box-regional select {
	height: 147px;
}
.multi-select-box select {
	height: 147px;
}
.device-modules-ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.device-modules-ul li {
	display: inline-block;
	margin: 2px;
}
.left-right-btn, .right-left-btn {
	height: 30px ;
    margin-bottom: 9px;
	display: table;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	padding:7px;
}
.marginT30 {
	margin-top: 30px;
}
.marginT50{
	margin-top: 50px;
}
.marginT20 {
	margin-top: 20px;
}
.marginTB20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.marginT18 {
	margin-top: 18px;
}

.marginT188 {
	margin-top: -899px;
}

.marginT1888 {
	/* margin-top: 19px; */
	margin:19px auto 0px 152px;
}
/* Multi select Slide Container Style Definition End */ 
/* Container Heading for content separation Start */
.container-heading-separator {
	background-color:#f0f0f0;
	height:25px;
	margin-bottom: 12px;
	padding-top:2px;
	margin-left: -15px;
	margin-right: -15px;	
}
.pop-container-heading-separator {
	background-color:#ddd !important;
	padding-left: 10px;
}
.container-heading-separator span {
	font-size: 12px;
	color: #0072c6;	
	margin-left:5px;
}
.currencyPageCancelPopup {
	padding:0px 0px 20px 0px;
	font-weight: bold;
	font-size: 12.5px;
}
.container-heading-margin {
	margin-top:12px;
}
/* Container Heading for content separation Start */
/* Transaction value update table Style Definition Start*/
.small-input-text {
	width:50% !important;
}
.transaction-value-table tr td{
	padding:10px !important;	
	width: 200px
}
.small-select-box {
	width:50% !important;
}
.two-small-input-text {
	float: left;
    margin-left: 5px;
    width: 46% !important;
}
.hidden-visibility {
	visibility: hidden;
}
/* Transaction value update table Style Definition End*/
/* ---- PopUp Style definition Start ---- */
.popup {
	background-color: #fff;
	border: 8px solid #f2f2f2;
	border-radius: 7px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 20px 0 0 19px;
	width:900px;
	height:580px !important;
}

.locatioin-list-popup {
	background-color: #f2f2f2;
	border-radius: 7px;
	box-shadow: 0 0 10px #000000;
	padding: 20px;
	width:520px; 
	display: none;
	margin: 15px;
}

.locatioin-list-popup-for-transaction {
	background-color: #f2f2f2;
	border-radius: 7px;
	box-shadow: 0 0 10px #000000;
	padding: 20px;
	width:600px;
	display: none;
}

.fee-program-popup {
	background-color: #f2f2f2;
	border-radius: 7px;
	box-shadow: 0 0 10px #000000;
	padding: 20px;
	width:900px;
}

.glyphicon-remove {
	cursor: pointer;
	float: right
}

.locatioin-list-popup h2 {
	margin-top: 0;
}

.locatioin-list-popup textarea {
	width: 100%;
	height: 100px;
	resize: vertical;
}
/* ---- PopUp Style definition End ---- */
/* Style Definition for Color Input Type Start*/
input[type=color] {
	height: 18px;
}
/* Style Definition for Color Input Type End*/
/* Style Definition for Header Inner Table Start*/
.vertical-middle {
	vertical-align: middle !important;
}
.th-inner-table {
	padding: 0 !important;
    width: 33%;
}
.th1 {
	width: 11.5%;
}
.top-border .th1 {
	width: 31%;
}
.td1 {
	width: 34.8%;
}
.td2 {
	width: 33.4%;
}
.td-inner-table {
	padding: 0 !important;
}
.inner-td1 {
	width: 21.3%;
}
.td-table {
	width: 100%;
	height: 87px;
}

.fee_code_width{
	width:15%;
}
.fee_right_border{
  border-right: 1px solid #ddd;
  width: 24%;
}

.percentageW31P{
	width: 31%;
}


.top-border {
	border-top: 1px solid #ddd;
	width: 100%;
}
.right-border {
	border-right: 1px solid #ddd;
}
.table-radio1, .table-radio2 {
	width: 100%;
	font-weight: normal;
	text-align: center !important;
}
.table-radio1 div, .table-radio2 div {
	margin-bottom: 0;
}
.table-radio1 label, .table-radio2 label {
	margin-left: 0;
	font-weight: normal;
	margin-bottom: 0;
}
.table-radio1 label {
	margin-right: 17px;
}
.table-input-text {
	float: left;
    margin-left: 5px;
    width: 87% !important;
}

.marginL40 {
	margin-left: 40px;
}

.readonly {
	background-color: white !important;
 	cursor: text !important;
}

.ellipsis {
        white-space: nowrap;
        overflow: hidden;
        width: 100px;
}
.text-no-wrap {
        overflow: hidden;
        width: 100px;
}

.title_ellipsis{
		white-space: nowrap;
        overflow: hidden;
        width: 100px;	
	
}

.summary_ellipsis{
		white-space: nowrap;
        overflow: hidden;
        width: 100px;
}

.ellipsis.multiline {
        white-space: normal;
        width: 120px; 
        height: 20px;
}

.marginRM15 {
	margin-right: -15px;
}

.marginBM1 {
	margin-bottom: -1px;
}
.common-table tr th {
	cursor: pointer;
}

.button {
 cursor: pointer;
}

.widthP80 {
	width:80%;
}

.widthP20
 {
	width:20%;
}
/* Style Definition for Header Inner Table End*/



/* Container Heading for content separation Start */
.container-heading-separator {
	 background: -webkit-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #b5b5b5, #f8f8f8); /* Standard syntax (must be last) */
	font-family: segoe-ui-regular, sans-serif,"Helvetica Neue",Helvetica,Arial;
	height:6px;
	margin-bottom: 12px;
	padding-top:0px;
	margin-left: -15px;
	margin-right: -15px;
	color: #373737;
}

.border-style-section {
    border: 1px solid #ccc;
    /*border-radius: 10px;*/
	margin-top: 20px;
	/*margin-right: 10px;*/
	padding-right: 0;
	padding-left: 5px;
	/* min-height: 139px; */
}
.paddingLR5 {
	padding: 0 5px;
}
.border-style-section-no-right-margin {
	margin-right: 0;
}

.border-style-section .container-heading-separator {
	background: transparent;
}

.border-style-section .container-heading-separator span {
	background: #fff;
	position: relative;
	top: -10px;
	color: #0072c6
}

.pop-container-heading-separator {
	background-color:#ddd !important;
	padding-left: 10px;
}
.container-heading-separator span {
	display: inline-block;
	font-weight: bold;
	font-family: segoe-ui-regular, sans-serif,"Helvetica Neue",Helvetica,Arial;
	color: #fff;	
	margin-left:15px;
	margin-top: 1px;
	color: #373737;
	font-size: 11px;
}
.container-heading-margin {
	margin-top:12px;
}

/* Default Style Sheet Start */
.margin0 {
	margin: 0;
}
.marginT30px {
	margin-top: 30px;
}
.marginL10 {
	margin-left: 10px;
}

.marginL1 {
	margin-left: 5px;
}
.padding0 {
	padding: 0;
}
/* Default Style Sheet End */
.panel-title {
	font-size: 11px;
	font-weight: bold;
	font-family: segoe-ui-regular, sans-serif,"Helvetica Neue",Helvetica,Arial;
	padding-top: 3px;
}
.panel-default > .panel-heading, .panel-heading {
	 background: -webkit-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #b5b5b5, #f8f8f8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #b5b5b5, #f8f8f8); /* Standard syntax (must be last) */
	font-family: segoe-ui-regular, sans-serif,"Helvetica Neue",Helvetica,Arial;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
	padding: 0px;
	height: 20px;
}
.panel-heading {
	padding-left: 5px;
}

.menu-icon, .menu-icon-text {
	display: none;
}

.mobile-heading {
	display: none;
}

.table-hide-btn{
	width:45%
}


.roleListDiv .col-sm-4 {
	width: 33.3333%;
}
.roleListDiv .panel-group ul, .roleListDiv .panel-group ul li ul, .roleListDiv .panel-group ul li ul li ul  {
	padding-left: 15px;
}

.roleListDiv .role-title {
	float: left;
    vertical-align: text-top;
    width: 80%;
    margin-top: 4px;
}
.roleListDiv input[type=checkbox] {
	    float: left;
}
.field-element-row .roleListDiv label {
	width: 100%;
}
.roleListDiv ul li label, .roleListDiv ul li ul li label {
	font-weight: bold;
}
.roleListDiv ul li ul li ul li label{
	font-weight: normal;
}
.create-card-data {
	margin: 2px 0 2px 10px;
}

.create-card-data1 {
	margin: 2px 0 2px 2px;
}

.smallPageSize {
	padding: 2px 10px !important;
}

.checktree-root {
	list-style: none;
}

ul
{
    list-style-type: none;
}

.marginR10 {
	margin-right: -10px;
}

.marginB40 {
	margin-bottom:40px;
}

.marginB5 {
	margin-bottom:5px;
}

.marginB8 {
	margin-bottom:8px;
}

.marginB10 {
	margin-bottom:10px;
}

.marginBM10 {
	margin-bottom:10%;
}
.marginB60 {
	margin-bottom:60px;
}

.marginMB40 {
	margin-bottom:40%;
}

.marginB17 {
	margin-bottom:17%;
}

.marginB1 {
	margin-bottom:1%;
}

.loginSize {
	width:50%;
	margin: 10.5% auto 0 auto;
	float: none;
}

.login-select-lang-container {
	position: absolute;
	top: 10px;
	right: 10px;
}

.login-logo-size{
	height: 63px;
}

.logout-logo {
	margin-top: 12px;
}

.marginT15 {
	margin-top:15%;
}
.marginT10 {
	margin-top: 10px;
}

.paddingL15{
	padding-left:15%;
}
.width65P{
	width:65%;
}
.paddingL10P{
	padding-left:10%;
}
.paddingL6{
	padding-left:6%;
}
.file-data-locatioin-list-popup{
	background-color: #f2f2f2;
	border-radius: 7px;
	box-shadow: 0 0 10px #000000;
	padding: 20px;
	width: 705px;
    height: 400px;
}
.list-popup-header {
	color:#15264b;
	cursor:pointer;
}
.list-popup-header {
	
	text-align:center;
	margin-top:15px;
	margin-bottom:30px;
}
.upload-popup-file{
	margin-left: 8%;
    height: 75%;
    width: 85%;
}
/* Container Heading for content separation End */


/* Home page Style Definition Start */
.content-links-header {
    margin: 5px 30px;
    padding: 5px 15px;
    background: linear-gradient(0deg, #b5b5b5, #f8f8f8);
    border: 1px solid #ddd;
    color: #333;
}
.content-links-info ul {
    list-style: none;
}
/* .create-dropdown .collapse{
	display:none; 
} */

.footer-logo {
	text-align:right;
	font-weight:500 !important
}

.footer-logo-size {
	height:15px;
    margin-top: -5px;
}

.imgWP{
  width: 40%;
  padding: 10px 0;
 } 
 
 .manualBulkimgWP{
  width: 70%;
  padding: 10px 0;
 } 
 
 .paddingLR15 {
	padding-left: 15px;
	padding-right: 15px;
}
.buttonP100 {
	width: 100%;
}

.marginMB36 {
	margin-bottom:36%;
}

.marginB2 {
	margin-bottom:2px;
}
.preauthRecordPerPage{
	margin-left: 13px;
}
.preauthFromBalance{
	margin-left: 11px;
}
.preauthToBalance{
	margin-left: -2px;
}

.hyperLink-underline{
	color: #0072c6 ;
	text-decoration: underline;
}

.search-results-table1 {
  display: block;
  padding: 0 20px;
  margin: 0;
}
.search-results-table1 table tr td,
.search-results-table1 table tr th {
  text-align: center;
  word-break: break-word;
}

.search-results-table1 table tr th {
color: #333;
background-color: #ADADAD;
}
.permission_color:hover{
    background: -webkit-linear-gradient(0deg, #0072c6, #0072c6);
	border-radius: 2px;
}

.permission_cursor_type{
	 cursor: pointer; cursor: hand; 
}

.role_assign_message label {
	margin-bottom: 3px;
    margin-left: 42px;
    font-size: 13px;
}

/* Home page Style Definition End */
.image-append-down
{
   height:14px;
   width:14px;
   background:url(../images/sort_asc.png) no-repeat;
   background-position:right 2px;
 
}
.image-append-up
{
   height:14px;
   width:14px;
   background:url(../images/sort_desc.png) no-repeat;
   background-position:right 2px;
}
.resize-table tr th {
	width: 11%;
}

.align-lft-table table tr th,
.align-lft-table table tr td{
    text-align: left;
}

.settelmentFonts{
	font-weight: bold;
}

.alignright{
	text-align:right !important;
}
.alignleft{
	text-align:left !important;
}

.aligncenter{
	text-align:center !important;
}
.paddingB10 {
	padding-bottom: 5px;
}

.fontweight {
	font-weight:bold;
}

.customer-info-div{
	margin-top: 20px;
}
.agent_account_div{
	padding: 11px 39px 10px 48px;
}
.tr-outline{
      outline: 1px solid black;
  } 
  .width65{
    width: 65%;
  }
  .widthP80P{
   width: 82.4%;
  }
  .alignR15{
    padding-right:10px;
  }
  .PaddingL55{
  width: 52px;
  }
  .width70P{
   width:70%;
  }
  .TRheight{
    height: 28px !important;
  }
  .roundedrectangle{
  border-radius: 6px;
  height: 37px;
  margin-right: 8px;
  padding-top: 8px !important;
  margin-bottom: -10px !important;
  }
  .roundedrectangle-customer{
  border-radius: 6px;
  height: 30px;
  margin-right: 8px;
  padding-top:  2px  !important;
  margin-bottom: -10px !important;
  }
  .disable-button{
  background-color: #919191 !important;
  width: 20% !important;
  color: #FFF;
  border-radius: 6px;
  height: 30px;
  margin-right: 8px;
  padding-top: 2px !important;
  margin-bottom: -10px !important;
  }
  .paddingL5P{
  padding-left: 16px;
  }
  .bg-pop-color{
  background-color: #f2f2f2;
  }
  .padding-button{
  padding-bottom: 16px;
  }
  .remarktitle{
    vertical-align: top;
}
.marginL156{
	margin-left: 156px !important;
}
.pinalign{
	margin-top: 10px;
	margin-bottom: 8px;
}
.marginL35{
	margin-left: 35px !important;
}
.paddingB15 {
	padding-bottom: 15px;
}
.width25 {
	width: 25%;
}

.systemUploadButton{
	margin-top: 22px; 
	width: 11%; 
	margin-right: 23px; 
	float: right;
}

.marginB135px{
	margin-bottom: 137px;
}
.account-details-table {
	width: 100%;
	margin: 0 auto;
}
.table-background{
	background-color: #ADADAD;
	 color: #333; 
	 text-align:center;
}
.customer-transaction-history{
	padding-left:10px;
	text-align:left;
	font-weight: bold;
}
#trasaction-per-day .form-control
{
width:80% !important;
}

.currentTime{
	float: right;
    margin-right: 15px
}
.left_content{
	float:left;
}
.right_content{
	float:right	;
}
.marginLFT10P{
	margin-left:10px;
}
.header_content{
	margin-top: 6px;
    width: 73%;
}
.marginBottom{
	margin-bottom: 5px;
}
.marginL8P{
	margin-left: 8px;
}

.col-sm-99
{
width:35% !important;
}

.note {
	text-align: left;
}

.marginB20 {
	margin-bottom: 20px;
}

.agent-card-profile-container{
	width: 96%;
    margin-left: 18px;
    margin-bottom: 12px;
}
.marginR7{
	margin-right: 7px;
}
.agent-card-profile-delete{
	margin-right: 78px;
    width: 55px;
    margin-top: 19px;
}

.agent-merchant-delete {
    border: 1px solid green;
    float: left;
    position: absolute;
    right: -70px;
    top: 11px;
}

.marginTop17P{
margin-top: 17px;
}

.note-label {
	color: red;
	margin-top:20px;
}
.result-table-align tr th
{
	word-wrap:break-word;
}
.result-table-align tr td
{
	max-width: 80px;
	word-wrap:break-word;
}
.status-label-radio1, .status-label-radio2 {
	vertical-align: middle;	
}
.adjust-agent-table tr td:nth-child(1), .adjust-agent-table tr td:nth-child(2)
{
	text-align:left; 
	width:30%;
}

.scroll_table{
	padding-left: 1px;
	overflow: auto;
	overflow-y: scroll;
	max-height: 500px;
}

#addRow{
	position:relative;
	top:-10px;
}

.align_add_row{
	position: relative;
    top: 13px;
    left: -13px;
}

.alignL13{
	left: -13px;
}
.widthPx16{
	width: 16px;
}
.testing:hover {
	text-decoration :underline;
}
 #secq p {
	color:#428bca;
	margin-left: -50px;
}

.marginRT{
  margin-right: 20px;	
}

.addNewEmailButton{
    width: 123px;
    border-radius: 23px;
}
.width2Perc {
	width: 2% !important;
}
.width8Perc {
	width: 8% !important;
}
.imageOpacity {
	opacity : 0.7;
}
/* Styles to apply only to reversal popup panel */

.reversal-modal label {
	text-align: right;
} 
.reversal-modal .bg-primary {
	padding: 5px;
	font-weight: bold;
}
.reversal-modal .button {
	width: 40%;
	font-size: 12px;	
}
.reversal-modal .text-muted {
	font-size: 10px;
	margin-top: 15px;
}
/* Styles to apply only to reversal popup panel */

/* For Star Report */
.table-alignment tr td {
word-wrap: break-word;
word-break: break-all;
}
.table-alignment tr th {
	width:7% !important;
}
.hand-symbol-on-mouse-hover{
	cursor: pointer;
}
.buttonP80 {
	width: 80%;
}
.download-link {
	margin-top: 23px;
}
table tr td .account-number-link {
	max-width:250px;
	display:inline-block;
	word-wrap:break-word;
	word-break:break-all;
}
.common-table1 td {
	max-width:250px;
	word-break:break-all;
}
.common-table2 td {
	width:100px;
	word-break:break-all;
}
/* For Star Report */
@media(max-width:1005px) {
	#wrapper{
		width:100% !important;
	}
}

/* New Styles Added by - Vijaya */

/* Header styles */
.login-info-container{
  float: right;
}
.log-out-btn-container {
  float: right;
  margin-top: 7px;
  padding: 0 10px;
}

/* ===[ Phones, tablets and desktop ]=== */
@media ( max-width : 979px) {
	.menu-icon-text {
		font-family: segoe-ui-regular, sans-serif, "Helvetica Neue", Helvetica,
			Arial;
		display: block;
		font-size: 12px;
		color: #0072c6;
		float: left;
		text-align: right;
		width: 92%;
		padding-top: 5px;
		padding-right: 5px;
	}
	.menu-icon {
		font-size: 20px;
		display: block !important;
		width: 100%;
		height: 20px;
		cursor: pointer;
		right: 15px;
		position: relative;
		top: 3px;
		color: #0072c6;
		text-align: right;
	}
	.all-page-header .col-sm-4 {
		width: 33.33333333%;
		float: left;
	}
	.nav-bar ul li {
		display: block;
		border: none;
		width: 100%;
	}
	.nav-bar ul {
		padding: 0;
		display: none;
	}
	.nav-bar {
		clear: both;
		margin-top: 0px;
		min-height: 30px;
	}
  .nav-bar ul li ul:after, .nav-bar ul li ul:before {
    left: 3%;
  }
  .nav-bar ul li ul {
    min-width: 94%;
    margin:0 3%;
  }
  .nav-bar ul li ul li {
    height: 30px;
    padding: 4px 8px;
  }
	header {
		content: " ";
		display: table;
		width: 100%;
	}
	/* changes for responsive */
  
  .logo-container {
    padding:0;
  }
  .login-info-container {
    width: 100%;
    float: left;
  }
  .log-out-btn-container {
    float: right;
    margin-top: -30px;
  }
}

/* ===[ media queries ]=== */

  /* ===[ Large desktop ]=== */
      @media (min-width: 1200px) { 
          
      }
		
    

/* ===[ Portrait tablet to landscape and desktop ]=== */
@media ( min-width : 768px) and (max-width: 979px) {
}

/* ===[ Landscape phone to portrait tablet ]=== */
@media ( max-width : 767px) {
	.container-fluid {
		padding: 0;
	}
	.sub-nav {
		display: none;
	}
	.mobile-heading {
		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
		height: 20px;
	}
	.mobile-heading:first-child {
		margin-top: 0;
	}
	.mobile-border {
		border: 1px solid #ccc;
	}
	.field-element-row {
		display: block !important;
    width: 100%;
	}
	.border-style-section {
		margin-right: 0;
	}
	.two-small-input-text {
		width: 44% !important;
	}
	table tr th, table tr td {
		width: 100% !important;
	}
	.search-content-show {
		height: 276px !important;
	}
	/*.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
				display: block;
			}*/

	/* Force table to not be like tables anymore */
	.search-results-table table, .search-results-table thead,
		.search-results-table tbody, .search-results-table th,
		.search-results-table td, .search-results-table tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.search-results-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.search-results-table tr {
		border: 1px solid #ccc;
	}
	.ellipsis {
	white-space:normal;
	}
	.search-results-table table tr td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #ddd;
		position: relative;
		padding-left: 70%;
		white-space: normal;
		text-align: left;
	/* 	word-break: break-all;  */
	    word-wrap:break-word;
	}
	.search-results-table td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
	/* 	white-space: nowrap; */
		text-align: left;
		font-weight: bold;
	}

	/*
			Label the data
			*/
	.search-results-table td:before {
		content: attr(data-title);
	}
	.search-table-header-column {
		padding-left: 0 !important;
	}
	.pagination>li>a, .pagination>li>span {
		padding: 2px 6px;
	}
	.custom-table-footer-pagination {
		margin-right: 0;
	}
	.custom-table-footer-button {
		margin-left: 5px !important;
	}
	.search-table-header-column .col-sm-12 {
		padding: 0;
	}
	.table-left-footer {
		margin-left: 0px;
	}
	.table-right-footer {
		margin-right: 0px;
	}
	/*changes for resposive - Srikanth*/
	.form-action-buttons .button {
		width: 100%;
	}
	.form-action-buttons {
		margin: 0px -30px !important;
	}
	.search-results-table	.marginBM1>tbody>tr>.search-table-header-column:last-child {
    text-align: right;
	}
	.search-table-header-column span {
		position: relative;
		margin-top: 8px;
		z-index: 1;
	}
	.search-table-header-column .col-md-9 {
		margin-top: 15px;
		position: relative;
		top: -17px;
	} 
	.locatioin-list-popup {
		width:auto !important;
	}
	.file-data-locatioin-list-popup {
		width:auto !important;
		    margin: 0 20px;
	}
	.multi-select-box {
	 	width: 100%;
	}
	.button {
	 	width: auto;
	 	padding: 0 15px;
	}
	td.alignright {
	 	text-align: left !important;
	}
  .search-results-table1 table tr td {
 	 text-align: left !important;
  }
  .scroll_table table tr th, .scroll_table table tr td {
 	 width:auto !important;
  }
  .result-table-align tr td {
 	 max-width: 100% !important;
  }
  .secur-btn {
  	margin-top: 70px !important;
  }
  .roundedrectangle {
 	  width:100% !important;
 	  margin-top: 20px;
 }  
  .notes-resp {
  	width: 100%;
  }
  textarea {
  	width: 100% !important;
  }
  .download-link  {
  	margin: 10px 0px !important;
  }
  .radio-btn-option {
  	margin: -5px 0px 15px 0px !important;
  }
  .radio-btn-option.col-sm-99 {
  	width: auto !important;
  }
}
@media (max-width: 400px) {
	.search-results-table table tr td {
	  min-height:40px;
	}
}
/* ===[ Landscape phones and down ]=== */
@media ( max-width : 479px) {
}

 @media ( min-width : 980px) {
	.navigation {
		display:inline !important;
	}
}

.txt_AL{
	text-align: left !important;
}
.reslult-transaction th{
	word-break:break-all;
}

/* extra styles created on 13Dec16 */
.main-msg-container {
	margin: 0 22px;	
}
.dashboard-msg-view {

    position: absolute;
    width: 250px;
    padding-left: -23p;
    margin-left: -30px;

}
.no-padding {
    padding: 0 !important;
}
.lang-drop-down {
	 margin-right: 10px; 
	 float: right;
	 position:absolute;
	 top:15px;
	 right:0px;
}
.version {
	margin-right: 10px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.page-onload {
	width:100%;
	height: 100%;
	display: table;
}
.body-onload {
	display:table-cell;
	vertical-align: middle;
}
.datetime-align {
	width:10%;
}
.statistics-report-align {
	background-color: #f9f9f9;
    border: 1px solid #ddd;
}
.error-msg {
	color: red;
    font-size: 10px;
    margin: 7px 0px 0px 0px;
    position: absolute;
}
.star-report {
	overflow-y: auto;
}
.clearBoth	{
	    clear: both;
}
.sortableth2{
	display:none !important;
}
.sorted.asc {
	height:14px;
  /*  width:14px; */
   background:url(../images/sort_asc.png) no-repeat;
   background-position:right 2px;
}
.sorted.desc {
	 height:14px;
  /*  width:14px; */
   background:url(../images/sort_desc.png) no-repeat;
   background-position:right 2px;
}
.wordbreak1 {
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width:150px;
}
.wordbreak2 {
	float: left;
}
.no-wrap {
	white-space: nowrap !important;
}

.success-msg.help-block {
	color: #16ad69;
}

.success-msg {
	margin-left: 15px;
}

.success-msg.align-center {
	text-align: center;
}
